.Container{
    max-width: 100%;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 37%;
    margin-left: 600px;
    border-radius: 15px;
    max-height: 190px;
    text-align: left;
}
.Picture{
    position: relative;
    left: 10px;
    padding-top: 25px;
    
}
.PictureBorder{
    border-radius: 70px;
    border-style: outset;
}
.Info{
position:relative;
bottom: 160px;
left: 170px;
font-size: 110%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
color: rgb(0, 0, 0);
}
.dButton{
    position:relative;
    bottom: 25px;
    min-width: 60px;
    min-height: 20px;
    left: 65%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.Input{
    margin: 10px;
    max-width: 160px;
    border-radius: 5px;
    border: none;
    
}
.Button{
    border: none;
    font-weight: 500;
    background-color: orange;
    min-width: 60px;
    min-height: 20px;
}
.Form{
    max-width: 100%;
}

@media (max-width: 1920px) {
    .User{
        background-color: rgb(255, 255, 255);
        max-width: 53%;
        margin-left: 24%;
        border-radius: 15px;
        max-height: 190px;
        text-align: left;
    }
    .dButton{
        bottom: 25px;
        max-width: 10%;
        min-height: 20px;
        left: 64%;
        border: none;
        font-weight: 500;
        background-color: orange;
    }
  }

  @media (max-width: 1260px) {
    .dButton{
        bottom: 25px;
        max-width: 10%;
        min-height: 20px;
        left: 60%;
        border: none;
        font-weight: 500;
        background-color: orange;
    }
  }
  @media (max-width: 1190px) {
    .Info{
        position:relative;
        bottom: 160px;
        left: 170px;
        font-size: 95%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 0px;
    max-width: 10%;
    min-height: 20px;
    left: 55%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
}
@media (max-width: 1080px) {
    .Info{
        position:relative;
        bottom: 160px;
        left: 150px;
        font-size: 85%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 0px;
    max-width: 10%;
    min-height: 20px;
    left: 52%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 53%;
    margin-left: 24%;
    border-radius: 15px;
    max-height: 170px;
    text-align: left;
}
}
@media (max-width: 965px) {
    .Info{
        position:relative;
        bottom: 130px;
        left: 120px;
        font-size: 80%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 0px;
    max-width: 10%;
    min-height: 20px;
    left: 50%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 53%;
    margin-left: 24%;
    border-radius: 15px;
    max-height: 160px;
    text-align: left;
}
.Picture{
    position: relative;
    left: 10px;
    padding-top: 25px;
    zoom: 0.8;
}
}
@media (max-width: 865px) {
    .Info{
        position:relative;
        bottom: 100px;
        left: 93px;
        font-size: 77%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 0px;
    max-width: 10%;
    min-height: 20px;
    left: 50%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 53%;
    margin-left: 24%;
    border-radius: 15px;
    max-height: 150px;
    text-align: left;
}
.Picture{
    position: relative;
    left: 10px;
    padding-top: 25px;
    zoom: 0.6;
}
}
@media (max-width: 800px) {
    .Info{
        position:relative;
        bottom: 15px;
        left: 7px;
        font-size: 77%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 30px;
    max-width: 10%;
    min-height: 20px;
    left: 75%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 53%;
    margin-left: 24%;
    border-radius: 15px;
    max-height: 190px;
    text-align: left;
}
.Picture{
    position: relative;
    left: 10px;
    bottom: 15px;
    padding-top: 25px;
    zoom: 0.5;
}
}
@media (max-width: 640px) {
    .Info{
        position:relative;
        bottom: 15px;
        left: 7px;
        font-size: 70%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 30px;
    max-width: 10%;
    min-height: 20px;
    left: 75%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 53%;
    margin-left: 24%;
    border-radius: 15px;
    max-height: 180px;
    text-align: left;
}
.Picture{
    position: relative;
    left: 10px;
    bottom: 15px;
    padding-top: 25px;
    zoom: 0.45;
}
}
@media (max-width: 575px) {
    .Info{
        position:relative;
        bottom: 15px;
        left: 7px;
        font-size: 60%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 15px;
    max-width: 10%;
    min-height: 20px;
    left: 70%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 53%;
    margin-left: 24%;
    border-radius: 15px;
    max-height: 170px;
    text-align: left;
}
.Picture{
    position: relative;
    left: 10px;
    bottom: 15px;
    padding-top: 25px;
    zoom: 0.44;
}
}
@media (max-width: 480px) {
    .Info{
        position:relative;
        bottom: 15px;
        left: 7px;
        font-size: 60%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
  }
  .dButton{
    bottom: 25px;
    max-width: 10%;
    min-height: 20px;
    left: 59%;
    border: none;
    font-weight: 500;
    background-color: orange;
}
.User{
    background-color: rgb(255, 255, 255);
    max-width: 54%;
    margin-left: 24%;
    border-radius: 15px;
    max-height: 170px;
    text-align: left;
}
.Picture{
    position: relative;
    left: 10px;
    bottom: 15px;
    padding-top: 25px;
    zoom: 0.44;
}
}